body {
	background-color: #6EB44C;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

.header {
	text-align: center;
}

.box_header {
	font-size: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	margin: 5px 5px;
	border: 2px solid black;
	border-radius: 24px;
	height: 620px;
	width: 350px;
	background-color: orange;
	padding: 5px 10px;
	display:inline;
}